services:
  # Minio
  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      MINIO_SERVER_URL: ${MINIO_SERVER_URL}
      MINIO_BROWSER_REDIRECT_URL: ${MINIO_BROWSER_REDIRECT_URL}
    volumes:
      - ./volumes/minio_data:/data
    command: server --console-address ":9001" /data
    networks:
      - july

  mysql:
    image: mysql:8.1.0
    container_name: mysql
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 30s
      timeout: 10s
      retries: 5
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    ports:
      - "${MYSQL_PORT}:3306"
    networks:
      - july

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: "root"
    ports:
      - "${PHPMYADMIN_PORT:-8081}:80"
    depends_on:
      - mysql
    networks:
      - july

  nginx:
    image: nginx:stable-alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./fe/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./fe/dist:/usr/share/nginx/html
    networks:
      - july

  backend:
    build:
      context: ./be
      dockerfile: Dockerfile
    container_name: backend
    depends_on:
      mysql:
        condition: service_healthy
      minio:
        condition: service_started
    environment:
      - BACKEND_PORT=8088
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/backend_base?createDatabaseIfNotExist=true
    ports:
      - "8088:8088"
    networks:
      - july

  frontend:
    build:
      context: ./fe
      dockerfile: Dockerfile
      args:
        - VITE_API_BASE=https://be.aeoc.io.vn/api
    container_name: frontend
    ports:
      - "${FE_PORT:-3000}:80"
    networks:
      - july

volumes:
  minio_data:
    name: minio
  postgres-data:

networks:
  july:
    driver: bridge
